@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #090a01e2);
  filter: drop-shadow(5px 10px 5px #090a01e2);
}

.img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #28281487);
  filter: drop-shadow(5px 10px 5px #28281487);
}

.dark .simplebar-scrollbar::before {
  background-color: white;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}

/* Style the rainbow text element. */
.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #38bdf8;
  background-color: #38bdf8;
  background: conic-gradient(
    #96cd60 16.666%,
    #38bdf8 33.333%,
    #96cd60 33.333%,
    #38bdf8 50%,
    #1ccd61 50%,
    #4c4ddb 66.666%,
    #1ccd61 66.666%,
    #4c4ddb 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style the rainbow text element. */
.dark .rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #4c4ddb;
  background-color: #4c4ddb;
  background: conic-gradient(
    #4c4ddb 16.666%,
    #1ccd61 33.333%,
    #4c4ddb 33.333%,
    #1ccd61 50%,
    #38bdf8 50%,
    #96cd60 66.666%,
    #38bdf8 66.666%,
    #96cd60 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.strength-1::-webkit-progress-value {
  background-color: #f51a16;
}

.strength-2::-webkit-progress-value {
  background-color: #ff9c1b;
}

.strength-3::-webkit-progress-value {
  background-color: rgb(255, 251, 12);
}

.strength-4::-webkit-progress-value {
  background-color: #9dff00ba;
}

.strength-5::-webkit-progress-value {
  background-color: #2de409fa;
}

.strength-6::-webkit-progress-value {
  background-color: #2de409fa;
}

.dark .strength-1::-webkit-progress-value {
  background-color: #a01d1b;
}

.dark .strength-2::-webkit-progress-value {
  background-color: #d48114;
}

.dark .strength-3::-webkit-progress-value {
  background-color: rgb(199, 202, 37);
}

.dark .strength-4::-webkit-progress-value {
  background-color: #94e611ba;
}

.dark .strength-5::-webkit-progress-value {
  background-color: #26ac0cba;
}

.dark .strength-6::-webkit-progress-value {
  background-color: #26ac0cba;
}

.strength-1,
.strength-0s {
  color: #ff0000;
}
.strength-2 {
  color: #ff9100;
}

.strength-3 {
  color: rgb(201, 198, 58);
}

.strength-4 {
  color: #8fd81ade;
}

.strength-5 {
  color: #2cdf09;
}

.strength-6 {
  color: #2cdf09;
}

.dark .strength-1,
.dark .strength-0s {
  color: #ff312d;
}
.dark .strength-2 {
  color: #ff9d1d;
}

.dark .strength-3 {
  color: rgb(199, 202, 37);
}

.dark .strength-4 {
  color: #94e611ba;
}

.dark .strength-5 {
  color: #37d816ba;
}

.dark .strength-6 {
  color: #37d816ba;
}

.dark div[dir="ltr"] {
  background-color: red;
}
