@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #090a01e2);
  filter: drop-shadow(5px 10px 5px #090a01e2);
}

.img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #28281487);
  filter: drop-shadow(5px 10px 5px #28281487);
}

.dark .simplebar-scrollbar::before {
  background-color: white;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}

/* Style the rainbow text element. */
.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #38bdf8;
  background-color: #38bdf8;
  background: conic-gradient(
    #96cd60 16.666%,
    #38bdf8 33.333%,
    #96cd60 33.333%,
    #38bdf8 50%,
    #1ccd61 50%,
    #4c4ddb 66.666%,
    #1ccd61 66.666%,
    #4c4ddb 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style the rainbow text element. */
.dark .rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #4c4ddb;
  background-color: #4c4ddb;
  background: conic-gradient(
    #4c4ddb 16.666%,
    #1ccd61 33.333%,
    #4c4ddb 33.333%,
    #1ccd61 50%,
    #38bdf8 50%,
    #96cd60 66.666%,
    #38bdf8 66.666%,
    #96cd60 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
